<div class="ui container">
    <div class="ui medium secondary pointing menu">
        <a class="toc item">
            <i class="sidebar icon"></i>
        </a>
        <a class="active item" href="{{ path('site_default_index') }}">Home</a>
        <a class="item" href="{{ path('ensaios') }}">Ensaios</a>
        <a class="item">Avulsos</a>
        <a class="item" href="{{ path('hinos') }}">Hinos</a>
        <div class="right item">
            <a class="ui inverted button">Log in</a>
            <a class="ui inverted button">Sign Up</a>
        </div>
    </div>
</div>